
<div class="person">
 <%= params[:question] %><br>
 -You
</div>
<br>


<div class="coach">
 <%= @answer %><br>
 - Your coach
</div>
<br>

<div class="link">
  <%= link_to "Ask a new question", ask_path %>
  <br>
</div>
